seaborn==0.11.0
SpeechRecognition==3.8.1
nltk==3.2.2
numpy==1.17.4
pandas==0.24.2
wordcloud==1.8.1
spacy==2.3.5
matplotlib==3.1.2
pydub==0.24.1
requests==2.22.0
tqdm==4.40.0
xmltodict==0.12.0
asrtoolkit==0.2.3
SoundFile==0.10.3.post1
gensim==3.8.3
scipy==1.4.1
de_core_news_lg==2.3.0
beautifulsoup4==4.9.3
pyLDAvis==2.1.2
scikit_learn==0.24.1
